body[dir="rtl"] #employeesTable th, body[dir="rtl"] #employeesTable td {
    text-align: right !important;
}

body[dir="ltr"] #employeesTable th, body[dir="ltr"] #employeesTable td {
    text-align: left !important;
}

[dir="rtl"] .breadcrumb {
    direction: rtl;
}

[dir="rtl"] .breadcrumb-item+.breadcrumb-item::before {
    float: right;
    
}

.breadcrumb-inside-nav .breadcrumb-item,
.breadcrumb-inside-nav .breadcrumb-item a {
    color: rgba(255, 255, 255, 0.85);
}

.breadcrumb-inside-nav .breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-inside-nav .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.7);
}

.dt-column-order {
    color: blue;
}