.breadcrumb-inside-nav .breadcrumb-item,
.breadcrumb-inside-nav .breadcrumb-item a {
    color: rgba(255, 255, 255, 0.85);
}

.breadcrumb-inside-nav .breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-inside-nav .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.7);
}

[dir="rtl"] .breadcrumb {
    direction: rtl;
}

[dir="rtl"] .breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    padding-right: .5rem;
}

[dir="rtl"] .breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
    padding-right: 0;
}

.dt-column-order {
    color: blue;
}

.view-btn  {
    color: #0dcaf0 !important;
    background-color: #ffffff !important;
    border-color: #0dcaf0 !important;
    transition: background-color 0.4s, color 0.4s !important;
    border-width: 2px !important;
}

.view-btn:hover {
    color: #ffffff !important;
    background-color: #0dcaf0 !important;
}

.editBtn {
    color: #ffc107 !important;
    background-color: #ffffff !important;
    border-color: #ffc107 !important;
    transition: background-color 0.4s, color 0.4s !important;
    border-width: 2px !important;
}

.editBtn:hover {
    color: #ffffff !important;
    background-color: #ffc107 !important;
}

.deleteBtn {
    color: #dc3545 !important;
    background-color: #ffffff !important;
    border-color: #dc3545 !important;
    transition: background-color 0.4s, color 0.4s !important;
    border-width: 2px !important;
}

.deleteBtn:hover {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}

.dt-button {
    background-color: #01c278 !important;
    border: none !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 7px 10px !important;
    transition: opacity 0.3s !important;
}

.dt-button:hover {
    opacity: 0.8 !important;
}

#pageTitle {
    font-weight: bold;
    font-size: 20px;
}

.required-label::after {
    content: " *";
    color: red;
    margin-left: 4px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    flex-shrink: 0;
}

.container {
    flex: 1;
}